.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 20px;
  .chat__messages {
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 70%;
    height: 55vh;
    overflow: scroll;
    box-shadow: 0px 0px 20px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: white;
    li:not(:last-child) {
      margin-bottom: 3px;
    }
    li.self {
      display: flex;
      justify-content: flex-end;
    }
    li.out {
      display: flex;
      justify-content: flex-start;
    }
    .author {
      display: flex;
      padding: 5px 10px;
      border-radius: 15px;
      max-width: 200px;
      font-size: 13px;
      color: white;
    }
    .author.self {
      justify-content: flex-end;
      box-shadow: 0px 0px 20px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      background-color: rgb(0, 122, 255);
    }
    .author.out {
      justify-content: flex-start;
      box-shadow: 0px 0px 20px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      background-color: rgb(90, 200, 250);
    }
  }
  .chat__form {
    position: relative;
    input {
      width: 250px;
      background-color: white;
      box-shadow: 0px 8px 20px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      padding-left: 20px;
      border-radius: 5px;
    }
  }
}
