.notification {
  position: absolute;
  left: 50px;
  bottom: 0px;
  opacity: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  font-size: 20px;
  color: white;
  animation: notifi 0.5s ease-out forwards, dissapear 5s ease-in forwards;
}
@keyframes notifi {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  10% {
    transform: translateY(-105px);
    opacity: 1;
  }
  100% {
    transform: translateY(-85px);
    opacity: 1;
  }
}
@keyframes dissapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
