<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/styles.css")

    title Catch Mind
  body
    .loginBox
      form#jsLogin
        input(placeholder="닉네임!", type="text")
    .gameContainer#jsGame
      h1 로그인 중
      
    script.
      window.events = !{events}
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")