<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/styles.css")

    title Catch Mind
  body
    #jsNotifications
    .loginBox
      form#jsLogin
        input(placeholder="닉네임!", type="text")
    .gameContainer#jsGame
      .chat
        ul.chat__messages#jsMessages
        form.chat__form#jsSendMessage
          input(placeholder="메시지 입력" type="text")

    script.
      window.events = !{events}
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")